.av-dashboard {
  margin: 30px 30px 30px 30px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 100%;
}
.av-dashboard .card {
  width: auto;
}
.av-dashboard .card {
  margin-bottom: 1.3rem;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s,-webkit-box-shadow .25s;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.av-dashboard .card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}
.av-dashboard .card .card-body {
  padding: 0;
}
.av-dashboard .card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}
.av-dashboard .card .card-body .card-img {
  margin: 1rem auto;
  display: table;
  width: 150px;
  overflow: hidden;
  padding: 5px;
  border: solid 2px rgba(13,71,161,.5);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.av-dashboard .card .card-body .card-img span {
  height: 135px;
  width: 135px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  background: #0d47a1;
  display: table;
  margin: 0 auto;
  font-size: 25px;
}
.av-dashboard .card .card-body .card-img span i {
  color: #fff;
  margin: auto;
  display: table;
  font-style: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 131px;
}
.av-dashboard .card .card-body h4 {
  color: #222;
  font-size: 18px;
  font-weight: 500;
  margin: 0.9rem 0;
}
.av-dashboard .card .card-body h4, .av-dashboard .card .card-body h6 {
  text-align: center;
}
.av-dashboard .card .card-body h6 {
  color: #0d47a1;
  font-size: 14px;
  border-bottom: solid 1px #d8d8d8;
  border-top: solid 1px #d8d8d8;
  padding: 0.9rem 1.5rem;
  margin: 1.3rem 0 2.5rem;
}
.av-dashboard .card .card-body h4, .av-dashboard .card .card-body h6 {
  text-align: center;
}
.av-dashboard .card .card-body h6 a {
  text-decoration: none;
  color: #0d47a1;
}
.av-dashboard .card .card-body ul {
  margin: 0 0 30px;
  padding: 0;
  float: left;
  width: 100%;
}
.av-dashboard .card .card-body ul li {
  list-style: none;
  width: 100%;
  float: left;
}
.av-dashboard .card .card-body ul li a {
  text-decoration: none;
  color: #4a4a4a;
  border-left: 3px transparent;
  font-size: 14px;
  padding: 1rem 0 1rem 2.4rem;
  display: block;
}

.dashboard_form {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}


img.profileImage {
  border-radius: 50%;
  overflow: hidden;
  left: 15px;
  width: 80px;
  height: 80px;
  top: -50px;
  text-align: center;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  line-height: 34px;
  object-fit:cover;
  /* box-shadow: 0 0 0 8px #ffffff; */
}
