.breadcrumb-bg {
    padding: 16px 0;
    background: #f4f4f4;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.blog-author {
    width: 100%;
}

.blog-author .blog-author-image {
    width: 160px;
    max-height: 160px;
    position: relative;
    float: left;
    margin-right: 20px;
}

.blog-author .blog-author-image .blog-author-image-card {
    overflow: hidden;
    width: 160px;
    max-height: 160px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
}
.blog-author .blog-author-image img {
    width: 160px;
    height: 155px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}
img {
    vertical-align: middle;
    border-style: none;
}

a {
    text-decoration: none;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: 0 solid rgba(0,0,0,0);
    -webkit-box-shadow: none;
    box-shadow: none;
}
.blog-author .blog-author-content {
    overflow: hidden;
}
.breadcrumb-bg h1 {
    display: block;
    font-size: 36px;
    color: #222;
    font-weight: 700;
    width: 100%;
}
.blog-author h1 {
    font-weight: 500;
    color: #222;
}
.blog-author h6 {
    font-weight: 500;
    color: #222;
}


.Follow_user {
    vertical-align: middle;
    align-items: center;
    display: flex;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    justify-content: center;
    flex-direction: column;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin: 0;
  }