{% extends "teamMateApp/layout.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'teamMateApp/style/dashboard.css' %}">
{% endblock %}

{% block body %}

<div class="container av-dashboard">
    <div class="row">
    
    <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="card">
    <div class="card-body">
        {% if user.image %}
        <a class="main-avatar" href="{% url 'profile' user.id %}">
            <img alt="" width="50" height="50" src="{{user.image.url}}" class="profileImage">
        </a> 

        {% else %}
        <div class="card-img">
            <span><i>{{firstchar_username}}</i></span>
        </div>

        {% endif %}
      
        <h4>{{user.username}}</h4>
        <ul>
            <li><a class="add-team" style="cursor: pointer;"><i class="fas fa-user-edit"></i>add Team</a></li>
            <li><a class="edit_profile"  style="cursor: pointer;"><i class="fas fa-user-edit"></i>Edit Profile</a></li>
            <li><a class="team_requests"  style="cursor: pointer;"><i class="fas fa-users"></i>requests</a></li>
        </ul>
    </div>
    </div>
    </div>
    
    <div class="col-lg-9 col-md-9 col-sm-12">
            <div class="dashboard_form">
                <div class="card-body">
               <div id="add-team">
                    <h3>Add Team</h3>
                    <form  id="formTeam" enctype='multipart/form-data'>
                        {% csrf_token %}
                        {{teamForm}}
                        <input type="submit" class="btn btn-primary mt-5" value="Create"/>
                    </form>                                       
                </div>

                <div id="edit_profile" class="invisible">
                    <h3>Edit Profile</h3>
                    <form  id="formProfile" method="post">
                        {% csrf_token %}
                        {{profileForm}}
                        <input type="submit" class="btn btn-primary mt-5" value="Update"/>
                    </form>
                </div>
                <div id="team_requests" class="invisible">
                    
                    {% for item in requests %}
                    <!-- <h3>{{item.team.title}} (participants : {{item.team.participantsNO}})</h3> -->
                    <div class="alert alert-dark" role="alert">
                        Team : {{item.team_title}} - remained number: {{item.remains}} - 
                        <a href="{% url 'profile' item.userid %}">
                            user : {{item.userfullname}}
                        </a>
                        <button data-requestId="{{item.requestid}}"  type="button"  style="float: right;" class="btn btn-success accept_member">
                            Accept
                        </button>
                    </div>
                    {% endfor %}
                </div>
                </div>
              </div>

    </div>
    </div>
    </div>
    <script src="{% static 'teamMateApp/json/dashboard.js' %}"></script>

    {% endblock %}