{% extends "teamMateApp/layout.html" %}
{% load static %}

{% block body %}
   
    <div data-url="{% url 'posts'%}" id="posts">
       
    </div>
    <div id="spinner-box" class="d-flex justify-content-center invisible m-5">
        <div class="spinner-border text-light"  style="width: 3rem; height: 3rem;" role="status">
        </div>
    </div>
        <script src="{% static 'teamMateApp/json/loadData.js' %}"></script>
        <script src="{% static 'teamMateApp/json/request.js' %}"></script>

 {% endblock %}
