{% load static %}

    {% for team in teams %}
    <div class="card-group col-sm-3">
        <div class="card text-center border-dark m-3">
            <a class="group_img"> 
            <img class="card-img-top" src="{{team.image}}" alt="Card image cap">
            </a>                    
            <a class="main-avatar" href="{% url 'profile' team.user_id %}" >
                <img alt="" width="50" height="50" src="{{team.createuser_image}}" class="avatar">
            </a>
            <div class="card-body">
                <h5 class="card-title">{{team.title}}</h5>
                <p class="card-text">{{team.content}}</p>
                <p class="card-text"><small>Startdate : </small><small class="text-muted">{{team.startdate|date:'Y-m-d H:i:s'}}</small></p>
                <p class="card-text"><small>Finishdate : </small><small class="text-muted">{{team.finishdate|date:'Y-m-d H:i:s'}}</small></p>

            </div>
            <div class="card-footer">
                    <ul class="list-inline">
                        {% for participant in team.participants %}
                        <li class="list-inline-item"> 
                            <a href="{% url 'profile' participant.user.id %}">
                                <img src="{{participant.user.image.url}}"
                                alt="DP" class="rounded-circle img-fluid">
                            </a>
                        </li>
                        {% endfor %}

                        {% if team.viewMore %}
                        <li class="list-inline-item viewmore"> 
                                <img src="{% static 'teamMateApp/icon/user.png' %}"
                                    alt="DP" class="rounded-circle img-fluid">
                                <div class="overly-item">
                                    <a href="{% url 'participants' team.team_id %}" class="text-small">view more</a>
                                </div>
                        </li>
                        {% endif %}

                        <li class="list-inline-item"> 
                            <a data-teamId ="{{team.team_id}}"><img src="https://img.icons8.com/ios/50/000000/plus.png"
                                width="30" height="30 " class="team_request"></a>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    {% endfor %}