{% extends "teamMateApp/layout.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'teamMateApp/style/profile.css' %}">
{% endblock %}

{% block body %}

<div class="breadcrumb-bg mb-3">
  <div class="container">
    <div class="row">
      <div class="blog-author">
        <div class="blog-author-image">
          <div class="blog-author-image-card">
          <img src="{% static 'teamMateApp/img/' %}{{user_info.image.url}}" alt="{{user_info.username}}">
          </div>
        </div>
        <div class="blog-author-content">
          <h1> {{user_info.username}} </h1>
          <h6>{{user_info.Info}}</h6>
          {% if request.user.is_authenticated and request.user.id != user_info.id %}
            {% if isfollowed %}
              <button class="btn btn-primary" id="follow" data-follow = "0" data-userId="{{user_info.id}}">UnFollow</button>
            {% else %}
              <button class="btn btn-primary" id="follow" data-follow = "1" data-userId="{{user_info.id}}">Follow</button>
            {% endif %}
          {% endif %}
        </div>
        <!-- <div class="Follow_user">
         
        </div> -->
        <div class="row text-center col-12">
          <div class="col-4">
              <h4 class="mb-1 line-height-5">{{teams_count}}</h4>
              <small class="mb-0 font-weight-bold">teams</small>
            </div>
            <div class="col-4">
                <h4 class="mb-1 line-height-5" id="followers">{{followers}}</h4>
                <small class="mb-0 font-weight-bold">Followers</small>
            </div>
            <div class="col-4">
                <h4 class="mb-1 line-height-5" id="followings">{{followings}}</h4>
                <small class="mb-0 font-weight-bold">Followings</small>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="container">

      <div data-url="{% url 'profile_posts' user_info.id %}" id="posts">
       
      </div>
      <div id="spinner-box" class="d-flex justify-content-center invisible m-5">
          <div class="spinner-border text-light"  style="width: 3rem; height: 3rem;" role="status">
          </div>
      </div>
      <script src="{% static 'teamMateApp/json/loadData.js' %}"></script>
      <script src="{% static 'teamMateApp/json/profile.js' %}"></script>
      <script src="{% static 'teamMateApp/json/request.js' %}"></script>

</div>  

 

{% endblock %}